<a href="/new">Minimise your URL</a>

  <ul>
    <li><a href="{{this.shorterUrl}}">{{ this.shorterUrl }}</a></li>
    <li><a href="{{this.longerUrl}}">{{ this.longerUrl }}</a></li>
    <li><a href="/minimes/{{this._id}}/edit">Edit</a></li>
    <li><a href="/minimes/{{this._id}}?_method=DELETE">Delete</a></li>
  </ul>
